<div class="container">
  <div class="row my-4">
    <div class="col-md-4 col-sm-6 pb-4 shadow-sm" *ngFor="let track of tracks">
      <svg *ngIf="!track.albumArt" class="bd-placeholder-img card-img-top" width="100%" height="225"
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
        aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
          dy=".3em">Thumbnail</text>
      </svg>
      <img *ngIf="track.albumArt"  [routerLink]="['/track/'+ track.id]" routerLinkActive="router-link-active" [src]="track.albumArt" class="bd-placeholder-img card-img-top" width="100%"
        height="250">
      <div class="card-body">
        <h5 class="card-title">{{track.title}} <span class="badge badge-light float-right"> </span></h5>
        <p class="card-title">
          by {{track.artist.name}}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" [routerLink]="['/artist/'+ track.artist.id]" routerLinkActive="router-link-active"
              class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary mx-1">share</button>
          </div>
          <small class="text-muted">{{track.duration}}</small>
        </div>
      </div>
    </div>
  </div>
</div>