<div class="container">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Top Tracks </h2>
            <div class="media text-muted pt-3" *ngFor="let track  of tracklist">
                    <img *ngIf="track.album.cover" [src]="track.album.cover" alt="track.title"
                        class="bd-placeholder-img mr-2 rounded" width="32" height="32">
                    <svg *ngIf="!track.album.cover" class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                        aria-label="Placeholder: 32x32">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff"
                            dy=".3em">32x32</text>
                    </svg>
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark"><a [routerLink]="['/track/' + track.id]" routerLinkActive="router-link-active">{{track.title}}</a></strong>
                            <span>Preview</span>
                        </div>
                        <span class="d-block">{{track?.explicit_lyrics}}</span>
                    </div>
                </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img *ngIf="artist.picture" [src]="artist.picture_big" alt="artist.name" class="bd-abs bd-placeholder-img"
                width="94%" height="500">
            <svg *ngIf="!artist.picture"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
            <div
                class="card-content h-500 position-relative flex-column d-flex justify-content-center align-items-center">
                <h5 class="card-title">{{artist.name}}</h5>
                <p class="card-text">Fans: {{artist.nb_fan}}</p>
                <p class="card-text">Albums: {{artist.nb_album}}</p>
            </div>
        </div>
    </div>
</div>
