
<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{track?.title}}</h2>
            <div class="alert alert-secondary" role="alert">
                <img style="display: inline-block;" width="30px" [src]="track?.artist?.picture" />{{track?.artist?.name}}<a
                    class="btn btn-outline-dark btn-sm float-right" href="{{track?.link}}" target="_blank"
                    role="button">Preview</a>
            </div>
            <p class="card-text ml-0">Duration: {{track?.duration}}</p>
            <p class="card-text">Fans: {{track?.rank}}</p>
            <p class="card-text">Release Date: {{track?.release_date | date:'shortDate'}}</p>
        </div>
        <div class="col-md-5">
            <img *ngIf="track?.album?.cover_big" [src]="track?.album?.cover_big" alt="track.title"
                class="bd-abs bd-placeholder-img" width="100%" height="auto">
            <svg *ngIf="track?.album?.cover_big"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title>
            </svg>
        </div>
    </div>
</div>